<h1>Parking Slots</h1>{{ title }}
<br>
<div class="row">
    <div ng-if="x.slotId != null" data-ng-repeat="x in names">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="panel panel-success" ng-class="'panel-danger'">
                <div class="panel-heading">
                    <h3 class="panel-title">Slot - {{ x.slotId }}</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>
    <!--Tobe Implement-->
</div>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="panel panel-success" ng-class="'panel-success'">
            <div class="panel-heading">
                <h3 class="panel-title">Slot 0</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>
</div>